<script>
  import { init } from "./main";

  init(document.getElementById("canvas-root"));
</script>

<div id="canvas-root"></div>
<video src="" width="600" height="600"></video>

<style>
  #canvas-root {
    position: absolute;
  }

  video {
    z-index: -1;
    position: absolute;
  }
</style>
