---
import Layout from "../../components/Layout.astro";
import SurfaceCanvas from "./SurfaceCanvas/SurfaceCanvas.astro";
---

<Layout title="#1 Stereo Camera">
  <main>
    <SurfaceCanvas />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
