<script>
  import { init } from "./main";

  init(document.getElementById("canvas-root"));
</script>

<h2 class="text-center text-5xl font-bold text-slate-300 mb-10">
  Parabolic Humming-Top with texture
</h2>

<div id="canvas-root"></div>
