---
import Card from "../components/Card.astro";
import Layout from "../components/Layout.astro";
---

<Layout title="VGGI assignments">
  <main>
    <h1 class="text-center text-5xl font-bold text-slate-300 mb-10">
      VGGI assignments
    </h1>
    <ul class="card-list-grid">
      <Card
        href="1-stereo-camera/"
        title="#1 Stereo Camera"
        body="Practical assignment #1 (WebGL stereo camera)"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  .card-list-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0;
  }
</style>
