---
import Card from "../components/Card.astro";
import Layout from "../components/Layout.astro";
---

<Layout title="VGGI assignments">
  <main>
    <h1 class="text-center text-5xl font-bold text-slate-300 mb-10">
      VGGI assignments
    </h1>
    <ul class="card-list-grid">
      <Card
        href="1-surface-rendering/"
        title="#1 Surface Rendering"
        body="Practical assignment #1 (Surface Rendering)"
      />
      <Card
        href="2-lighting/"
        title="#2 Lighting"
        body="Practical assignment #2 (Phong light)"
      />
      <Card
        href="3-texture/"
        title="#3 Texture"
        body="Practical assignment #3 (Texture mapping)"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  .card-list-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0;
  }
</style>
